<!DOCTYPE html>
<html>
    <head>
        <title> Ghar Pe Campus </title>
        <link type="text/css" rel="stylesheet" href="css/campstyle.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body >

      <div class="menu-bar">
          <div class="container">

              <nav class="navbar navbar-expand-lg ">
                  <!-- <a class="nav-item nav-link" href="#">Login/Signup</a> -->
                    <a class="navbar-brand "  href="#"> <img src= "images/logo1.png" alt="Img not found"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav ml-auto text-right">
                        <li class="nav-item">
                          <a class="nav-link"  href="/landing">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active"  href="#gHome">Campus Tour</a>
                        </li>                        
                        <li class="nav-item">
                          <a class="nav-link" href="#Departments">Departments</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#Hostels">Hostels</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#Canteens">Canteens</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#Sports">Sports</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#Others">Others</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/login">Log Out</a>
                        </li>
                      </ul>
                    </div>

                </nav>

          </div>
      </div>


      <!-- <video autoplay muted loop id="myVideo">
        <source src="vdo.mp4" type="video/mp4">
      </video> -->
      <section>
        <div  id= "mHome" class="top-wrapper">
        <div class="tcontainer">
          <h1>GharPeCampus</h1>
          <p></p>
          <p></p>
        </div>
        </div>
        <!-- <div id="Start">
          <img src="logo.png" >
        </div> -->

        <div id="Departments">
          <!img src="images/Admin.png" >
          <div class="heading">
            <h2>Departments</h2>
          </div>


          <div class="lesson-wrapper">
      <div class="container">

        <div class="lessons">

          <div class="lesson">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/CS.jpg">
            <p>CSE/IT</p>
            </div>
            <p class="text-contents">Computer Science and Engineering,         <br> Information Technology</p>
          </div>

          <div class="lesson1">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/ec.jpg">
              <p>ECE/ICE/EE</p>
            </div>
            <p class="text-contents">Electronics & Communication Engg., Instrumentation & Control Engg., Electrical Engg.</p>
          </div>

          <div class="lesson">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/mech.jpeg">
              <p>ME/CE</p>
            </div>
            <p class="text-contents">Mechanical Engineering, <br>Civil Engineering</p>
          </div>

          <div class="lesson1">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/ec.jpg">
              <p>IP</p>
            </div>
            <p class="text-contents">Industrial and Production Engineering</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>

        </div>


        <div >
          <!img src="images/Admin.png" >


          <div class="lesson-wrapper">
        <div class="container">

        <div class="lessons2">

          <div class="lesson">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/tx.jpeg">
            <p>TT</p>
            </div>
            <p class="text-contents">Textile Engineering</p>
          </div>

          <div class="lesson1">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/ec.jpg">
              <p>BT</p>
            </div>
            <p class="text-contents">Bio-technology </p>
          </div>

          <div class="lesson">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/ec.jpg">
              <p>SB</p>
            </div>
            <p class="text-contents">Science-Maths Block</p>
          </div>

          <div class="lesson1">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/hnm.jpg">
              <p>CM/HnM</p>
            </div>
            <p class="text-contents">Chemical Engineering, <br >Humanities and Management</p>
          </div>
          <div class="clear"></div>
        </div>
        </div>

        </div>






                  <div id="Hostels">
                    <!img src="images/Admin.png" >
                    <div class="heading">
                      <h2>Boys Hostels</h2>
                    </div>


                    <div class="lesson-wrapper">
                <div class="container">

                  <div class="lessons">

                    <div class="lesson">
                      <div class="lesson-icon">
                          <img class="featurepic"   src="images/bh1.webp">
                      <p>Boys Hostel-1</p>
                      </div>
                      <p class="text-contents">Three-Four seater rooms<br>For first year UG</p>
                    </div>

                    <div class="lesson1">
                      <div class="lesson-icon">
                          <img class="featurepic"   src="images/bh1.webp">
                        <p>Boys Hostel-2</p>
                      </div>
                      <p class="text-contents">Two seater rooms <br> For first year UG</p>
                    </div>

                    <div class="lesson">
                      <div class="lesson-icon">
                          <img class="featurepic"   src="images/bh1.webp">
                        <p>Boys Hostel-3</p>
                      </div>
                      <p class="text-contents">Single seater rooms<br>For third year UG</p>
                    </div>

                    <div class="lesson1">
                      <div class="lesson-icon">
                          <img class="featurepic"   src="images/bh1.webp">
                        <p>Boys Hostel-4</p>
                      </div>
                      <p class="text-contents">Single seater rooms<br>For third year UG</p>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>

                  </div>


                  <div >
                    <!img src="images/Admin.png" >


                    <div class="lesson-wrapper">
                  <div class="container">

                  <div class="lessons2">

                    <div class="lesson">
                      <div class="lesson-icon">
                          <img class="featurepic"   src="images/bh1.webp">
                      <p>Boys Hostel-5</p>
                      </div>
                      <p class="text-contents">Two seater rooms<br> For first year UG</p>
                    </div>

                    <div class="lesson1">
                      <div class="lesson-icon">
                          <img class="featurepic"   src="images/bh1.webp">
                        <p>Boys Hostel-6</p>
                      </div>
                      <p class="text-contents">Single seater rooms<br>For final year UG</p>
                    </div>

                    <div class="lesson">
                      <div class="lesson-icon">
                          <img class="featurepic"   src="images/bh1.webp">
                        <p>Boys Hostel-7&7E</p>
                      </div>
                      <p class="text-contents">Two seater rooms for third year UG<br>Single seater rooms for PG, PhD</p>
                    </div>

                    <div class="lesson1">
                      <div class="lesson-icon">
                          <img class="featurepic"   src="images/bh1.webp">
                        <p>Mega Boys Hostel</p>
                      </div>
                      <p class="text-contents">Two seater rooms for third year UG<br>Single seater rooms for final year UG, PG, PhD</p>
                    </div>
                    <div class="clear"></div>
                  </div>
                  </div>

                  </div>
        </div>



                <div id="Hostels2">
                  <!img src="images/Admin.png" >
                  <div class="heading">
                    <h2>Girls Hostels</h2>
                  </div>


                  <div class="lesson-wrapper">
                <div class="container">

                <div class="lessons">

                  <div class="lesson">
                    <div class="lesson-icon">
                        <img class="featurepic"   src="images/bh1.webp">
                    <p>Girls Hostel-1</p>
                    </div>
                    <p class="text-contents">Three-Four seater rooms<br>For first year UG</p>
                  </div>

                  <div class="lesson1">
                    <div class="lesson-icon">
                        <img class="featurepic"   src="images/bh1.webp">
                      <p>Girls Hostel-2</p>
                    </div>
                    <p class="text-contents">Two seater rooms <br> For second/third year UG</p>
                  </div>

                  <div class="lesson">
                    <div class="lesson-icon">
                        <img class="featurepic"   src="images/bh1.webp">
                      <p>Girls Hostel-3</p>
                    </div>
                    <p class="text-contents">Single seater rooms<br>For third/final year UG</p>
                  </div>

                  <div class="lesson1">
                    <div class="lesson-icon">
                        <img class="featurepic"   src="images/bh1.webp">
                      <p>Mega Girls Hostel</p>
                    </div>
                    <p class="text-contents">Single seater rooms<br>For third/final year UG, PG, PhD</p>
                  </div>
                  <div class="clear"></div>
                </div>
                </div>

                </div>
        </div>








        <div id="Canteens">
          <!img src="images/Admin.png" >
          <div class="heading">
            <h2>Canteens</h2>
          </div>


          <div class="lesson-wrapper">
        <div class="container">

        <div class="lessons">

          <div class="lesson">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/cc.jpg">
            <p>Snackers</p>
            </div>
            <p class="text-contents">xyz<br>abc</p>
          </div>

          <div class="lesson1">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/cc.jpg">
              <p>Campus Cafe</p>
            </div>
            <p class="text-contents">xyz <br> abx</p>
          </div>

          <div class="lesson">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/cc.jpg">
              <p>Night Canteen Area</p>
            </div>
            <p class="text-contents">nyy<br>hvh</p>
          </div>

          <div class="lesson1">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/cc.jpg">
              <p>DS market</p>
            </div>
            <p class="text-contents">nn<br>nn</p>
          </div>
          <div class="clear"></div>
        </div>
        </div>

        </div>
        </div>

















        <div id="Sports">
          <!img src="images/Admin.png" >
          <div class="heading">
            <h2>Sports</h2>
          </div>


          <div class="lesson-wrapper">
      <div class="container">

        <div class="lessons">

          <div class="lesson">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/CS.jpg">
            <p>Indoor Gymnasium</p>
            </div>
            <p class="text-contents">jhhhhhhhhhhhhhhhhh nsbiadgfhg khjvywdgeuybfkea kbidgiyegfiue</p>
          </div>

          <div class="lesson1">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/ec.jpg">
              <p>Volleyball Court</p>
            </div>
            <p class="text-contents">According to one's , he can access the resources  from anywhere and at any time. </p>
          </div>

          <div class="lesson">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/mech.jpeg">
              <p>Basketball Court</p>
            </div>
            <p class="text-contents">A great team of highly qualified and experienced faculty members.</p>
          </div>

          <div class="lesson1">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/chem.jpeg">
              <p>Tennis Court</p>
            </div>
            <p class="text-contents">Availability of all India test series for GATE and GRE aspirants.</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>

        </div>


        <div >
          <!img src="Admin.png" >


          <div class="lesson-wrapper">
        <div class="container">

        <div class="lessons2">

          <div class="lesson">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/tx.jpeg">
            <p>Cricket Ground</p>
            </div>
            <p class="text-contents">Offline lectures in depth wisided interaction between student and the teacher.</p>
          </div>

          <div class="lesson1">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/ec.jpg">
              <p>Athletics Track</p>
            </div>
            <p class="text-contents">According to one's , he can access the resources  from anywhere and at any time. </p>
          </div>

          <div class="lesson">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/mech.jpeg">
              <p>Table Tennis/Chess...</p>
            </div>
            <p class="text-contents">A great team of highly qualified and experienced faculty members.</p>
          </div>

          <div class="lesson1">
            <div class="lesson-icon">
                <img class="featurepic"   src="images/hnm.jpg">
              <p>Indoor GYM</p>
            </div>
            <p class="text-contents">Availability of all India test series for GATE and GRE aspirants.</p>
          </div>
          <div class="clear"></div>
        </div>
        </div>

        </div>
</div>








<div id="Others">
  <!img src="images/Admin.png" >
  <div class="heading">
    <h2>Others</h2>
  </div>


  <div class="lesson-wrapper">
<div class="container">

<div class="lessons">

  <div class="lesson">
    <div class="lesson-icon">
        <img class="featurepic"   src="images/CS.jpg">
    <p>Central Library</p>
    </div>
    <p class="text-contents">Offline lectures in depth wisided interaction between student and the teacher.</p>
  </div>

  <div class="lesson1">
    <div class="lesson-icon">
        <img class="featurepic"   src="images/ec.jpg">
      <p>Central Seminar Hall</p>
    </div>
    <p class="text-contents">According to one's , he can access the resources  from anywhere and at any time. </p>
  </div>

  <div class="lesson">
    <div class="lesson-icon">
        <img class="featurepic"   src="images/mech.jpeg">
      <p>Lecture Theatre Complex</p>
    </div>
    <p class="text-contents">A great team of highly qualified and experienced faculty members.</p>
  </div>

  <div class="lesson1">
    <div class="lesson-icon">
        <img class="featurepic"   src="images/chem.jpeg">
      <p>Community Centre</p>
    </div>
    <p class="text-contents">Availability of all India test series for GATE and GRE aspirants.</p>
  </div>
  <div class="clear"></div>
</div>
</div>

</div>


<div >
  <!img src="images/Admin.png" >


  <div class="lesson-wrapper">
<div class="container">

<div class="lessons2">

  <div class="lesson">
    <div class="lesson-icon">
        <img class="featurepic"   src="images/tx.jpeg">
    <p>Admin/Students Relations Block</p>
    </div>
    <p class="text-contents">Offline lectures in depth wisided interaction between student and the teacher.</p>
  </div>

  <div class="lesson1">
    <div class="lesson-icon">
        <img class="featurepic"   src="images/ec.jpg">
      <p>Banks/ATM</p>
    </div>
    <p class="text-contents">According to one's , he can access the resources  from anywhere and at any time. </p>
  </div>

  <div class="lesson">
    <div class="lesson-icon">
        <img class="featurepic"   src="images/mech.jpeg">
      <p>Central Park</p>
    </div>
    <p class="text-contents">A great team of highly qualified and experienced faculty members.</p>
  </div>

  <div class="lesson1">
    <div class="lesson-icon">
        <img class="featurepic"   src="images/hnm.jpg">
      <p>Faculty Residence</p>
    </div>
    <p class="text-contents">Availability of all India test series for GATE and GRE aspirants.</p>
  </div>
  <div class="clear"></div>
</div>
</div>

</div>
</div>







      </section>
